@model IEnumerable<HomeAssigment.Models.Items>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.itemName.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qualityType.QualityType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemOwner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemPrice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.itemName.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qualityType.QualityType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemOwner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemPrice)
            </td>
          
        </tr>
    }

</table>
