@model HomeAssigment.Models.Items

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Items</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.itemName.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemName.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qualityType.QualityType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qualityType.QualityType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemOwner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
