
@model IEnumerable<HomeAssigment.Models.Items>

@{
    ViewBag.Title = "Index";
}


@foreach (var item in Model)
{

    <br>
    <br>
    <div class="card">

        <div class="card-body">
            <img src="@Html.DisplayFor(modelItem => item.itemName.ImagePath)" width="500" height="250" />
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.itemName.ItemName)</h5>
            <p class="card-text"> Price: €@Html.DisplayFor(modelItem => item.ItemPrice)</p>
            <p class="card-text">date created :    @Html.DisplayFor(modelItem => item.ItemDate)</p>

            <a href="#" class="btn btn-primary">Go somewhere</a>

            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })

        </div>
    </div>

    <br>
    <br>





}